[submodule "tests/evm_manual/foundry1/lib/forge-std"]
	path = tests/evm_manual/foundry1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tests/evm_manual/foundry1/lib/openzeppelin-contracts"]
	path = tests/evm_manual/foundry1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts

[submodule "tests/evm_manual/foundry/lib/forge-std"]
	path = tests/evm_manual/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
