/target
/tmp
/solutions
/*bench
bin
corpus
.idea
.vscode
node_modules
cache
*.bin
*.abi
output
work_dir
.z3-trace
*.code-workspace
*.txt
combined.json
/**/build/
Move.lock
/w_**/
/tests/evm_manual/story-core
run_ityfuzz.sh
